<span class="navbar-brand">NTP</span>


<!-- Khung thông tin wfh của Nhân viên 5 -->
<div class="col-md-4">
    <div class="info-box">
        <p><strong>NV:</strong> Nhân viên 5</p>
        <p><strong>Ngày:</strong> 10/09/2024</p>
        <div class="separator"></div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-reject">Từ chối</button> <!-- màu trắng -->
            <button class="btn btn-outline-success">Chấp thuận</button>
        </div>
    </div>
</div>



<!-- Khung thông tin updatetimesheet theo chiều dọc -->
<div class="container1 mt-6">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="update-time-sheet-box p-4">
                <p><strong>NV:</strong> Nhân viên 1</p>
                <div class="old-values">
                    <p><strong>Giá trị cũ:</strong> 20/08/2024</p>
                    <p><strong>Thời gian check-in:</strong> 08:57:13</p>
                    <p><strong>Thời gian check-out:</strong> 17:57:13</p>
                </div>
                <div class="new-values">
                    <p><strong>Giá trị mới:</strong> 20/08/2024</p>
                    <p><strong>Thời gian check-in:</strong> 08:57:13</p>
                    <p><strong>Thời gian check-out:</strong> 18:57:13</p>
                </div>
                <div class="separator my-3"></div>
                <div class="buttons text-center">
                    <button class="btn btn-danger">Từ chối</button>
                    <button class="btn btn-outline-success">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Khung thông tin updatetimesheet theo chiều ngang -->
<div class="container-update">
    <div class="row">
        <div class="col">
            <p><strong>NV:</strong> Nhân viên 1</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="old-values">
                <p><strong>Giá trị cũ:</strong> 20/08/2024</p>
                <p><strong>Thời gian check-in:</strong> 08:57:13</p>
                <p><strong>Thời gian check-out:</strong> 17:57:13</p>
            </div>
        </div>
        <div class="col">
            <div class="new-values">
                <p><strong>Giá trị mới:</strong> 20/08/2024</p>
                <p><strong>Thời gian check-in:</strong> 08:57:13</p>
                <p><strong>Thời gian check-out:</strong> 18:57:13</p>
            </div>
        </div>
    </div>
    <div class="separator my-3"></div>
    <div class="row">
        <div class="buttons text-center">
            <button class="btn btn-danger">Từ chối</button>
            <button class="btn btn-outline-success">Chấp nhận</button>
        </div>
    </div>
</div>